/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url(nav-horizontal.css);
 
/* NAV BAR AT THE TOP AND ONE COLUMN OF CONTENT */
    div#content {
        position: relative;
        width: 971px; /*701px;*/
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: left;
    }
    div#main {
        width: 97% !important;
        text-align: left;
        margin: 0;
    }
    div#local {
        display: none;
    }
    div#sub {
        display: none;
    }
    div#nav {
        position: absolute;
        top: -25px;
        left: 0px;
        width: 100%;
        text-align: left;
    }
/* END CONTENT */
