/*For when the month is the same as that of the current date*/
.calendarPreviousLinkStyle
{
vertical-align: bottom;
}

.calendarTitleStyle
{
}

.calendarNextLinkStyle
{
vertical-align: bottom;
}

.calendarWeekdayStyle
{
background-color: #dddddd;
color: #0000ff;
}

.calendarEmptyDayStyle
{
background-color: #F2F2FE; /*#feae79;*/
vertical-align: top;
}

.calendarNoExperimentStyle
{
background-color: #E5E5FE;
vertical-align: top;
}

.calendarActiveDayNoExperimentStyle
{
background-color: #ccccff; /*#fc6303;*/
vertical-align: top;
}

.calendarExperimentStyle
{
background-color: #E5E5FE; /*#ddffee;*/
vertical-align: top;
}

.calendarActiveDayExperimentStyle
{
background-color: #ccccff; /*#fc6303;*/
vertical-align: top;
}

.calendarDateStyle
{
text-align: right;
font-size: larger;
  font-weight: bold;
}
