/*For when the month is the same as that of the current date*/
.calendarPreviousLinkStyle
{
vertical-align: bottom;
}

.calendarTitleStyle
{
}

.calendarNextLinkStyle
{
vertical-align: bottom;
}

.calendarWeekdayStyle
{
background-color: #eeffee;
color: green;
}

.calendarEmptyDayStyle
{
background-color: #e0ffff;
vertical-align: top;
}

.calendarNoExperimentStyle
{
background-color: #d0ffff;
vertical-align: top;
}

.calendarActiveDayNoExperimentStyle
{
background-color: #b0ffff;
vertical-align: top;
}

.calendarExperimentStyle
{
background-color: #ddffee;
vertical-align: top;
}

.calendarActiveDayExperimentStyle
{
background-color: #bbffdd;
vertical-align: top;
}

.calendarDateStyle
{
text-align: right;
font-size: larger;
}
