.vtop
{
    vertical-align: top;
}
        
.questionTable_padding
{
    width: 40px;
}
        
table.questionTable
{
    border: 0;
}

.offset_title_1
{
    color: #3300cc;
}
        
.offset_title_2
{
    color: #009999;
}
        
.offset_title_3
{
    color: #119933;
}

.smaller
{
    font-size: medium;
}
