.calendarTableStyle {
    border-collapse: collapse;
}

.calendarTableStyle td {
    border: 1px solid #ddd;
}

/*For when the month is the same as that of the current date*/
.calendarPreviousLinkStyle
{
    border: none !important;
vertical-align: bottom;
}

.calendarTitleStyle
{
    border: none !important;
}

.calendarNextLinkStyle
{
    border: none !important;
vertical-align: bottom;
}

.calendarWeekdayStyle
{
/* background-color: #f4e0d8; */
    border: none !important;
color: black;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

.calendarEmptyDayStyle
{
/* background-color: #f4e6e0; */ /*#feae79;*/
background-color: #eee;
vertical-align: top;
}

.calendarNoExperimentStyle
{
/* background-color: #e5c9be; */
vertical-align: top;
}

.calendarActiveDayNoExperimentStyle
{
/* background-color: #d8bdb3; */ /*#fc6303;*/
vertical-align: top;
border: 2px solid #666 !important;
}

.calendarExperimentStyle
{
/* background-color: #fedbc3; */ /*#ddffee;*/
vertical-align: top;
}

.calendarActiveDayExperimentStyle
{
/* background-color: */ #ffdca7; /*#fc6303;*/
vertical-align: top;
border: 2px solid #666 !important;
}

.calendarDateStyle
{
text-align: right;
font-size: larger;
}

/* BRS */
.ineligible {
	color: gray !important;
	font-style: italic;
}
