/* A CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */
body {
    margin: 0;
    padding: 0;
    /* background: white url(images/background.gif) top left repeat-x; */
    text-align: center;
}
div#page {
    width: 950px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

/* HEADER */
div#header {
    margin: 0 0 5em 0;
    padding: 5px 0 2px 5px;

    /* BRS removed
    background: transparent url(images/logo_transparent.gif) no-repeat center right;
    */
    text-align: left;

    height: 80px; /* needed by IE 7 */

}
div#switchLocale {
    position: absolute;
    right: 10px;
}
div#branding {
    float: left;
    width: 60%;
    margin: 0;
    padding: 10px 0 10px 30px;
    text-align: left;
}
div#search {
    float: right;
    width: 49%;
    margin: 0;
    padding: 40px 40px 0 0;

    text-align: right;
}
/* END HEADER */

/* CONTENT */
div#content {
}
body#error #content {
    margin-top: 20px;
}
/* MAIN */
div#main {
    padding-left: 15px;
}
div#main form ul li {
    list-style-type: none;
    margin-left: 0;
}
/* END MAIN */

/* SUB */
div#sub h2 {
    margin-bottom: 5px;
}

div#sub ul li {
    list-style-type: none;
    padding-bottom: 10px;
}
div#sub p.line {
    border-top: 1px dotted #ccc;
    margin: 15px 0;
}

/* END SUB */

/* END CONTENT */

/* FOOTER */
div#footer {
    color: #333;
    padding: 0 39px;
    text-align: left;
    font-size: 0.9em;
}

div#footer div#divider {
    margin: 0 0 4px 0;
    /* border-top: 1px solid #ccc; */
}

div#footer div#divider div {
    margin: 1px 0 0 0;
    border-top: 6px solid #366656;
}

div#footer .left {
    float: left;
}

div#footer .right {
    float: right;
}
/* END FOOTER */
/* END LAYOUT */
