/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV */

/*
    div#nav_wrapper {
        width: 100%;
        background-image: url('images/topbar.jpg');
        background-repeat: repeat-x;
    }
        */

    div#nav {
        font-size: 0.8em;
        border-bottom: 5px solid #366656;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    div#nav ul {
        width: auto;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#nav li {
        float: left;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        line-height: 1em;
    }
    div#nav li.last {
        border-right: none;
    }
    div#nav a,
    div#nav a:link,
    div#nav a:active,
    div#nav a:visited {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        font-weight: bold;
        text-decoration: none;
        margin: 0;
        padding: 5px 15px 5px 15px;
        color: #00583D;
    }
    div#nav a:hover {
        text-decoration: none;
        background-color: #c3ede0;
    }
    div#nav a.current {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        color: white;
        background: #366656;
        font-size: 1.2em !important;
    }
    div#nav a.current,
    div#nav a.current:link,
    div#nav a.current:active,
    div#nav a.current:visited,
    div#nav a.current:hover {
       color: white;
       background-color: #366656;
    }

    div#nav .pad {
       padding-left: 10px;
    }
/* END NAV */

/* DROP DOWN MENUS */
    ul#primary-nav, ul#primary-nav ul {
        margin: 0;
        padding: 0;
        background: #fff; /* IE6 Bug */
        font-size: 100%;
    }
        ul#primary-nav li {
            position: relative;
            list-style: none;
        }
            ul#primary-nav li a {
                display: block;
                text-decoration: none;
                color: #777;
                width: 90px;
                text-align: center;
                white-space: nowrap;
            }
        /* Fix IE. Hide from IE Mac \*/
        * html ul#primary-nav li { float: left; height: 1%; }
            * html ul#primary-nav li a { height: 1%; }
            * html ul#primary-nav ul { width: 149px; }
            * html ul#primary-nav ul li { width: 149px; }
        /* End */

            ul#primary-nav ul {
                position: absolute;
                display: none;
                left: 0px; /* Set 1px less than menu width */

		/*
                top: 22px;
		BRS 2011-12-05: finally fix disappearing menus
		*/
                top: 1.8em;
            }
                ul#primary-nav ul li {
                    border: 1px solid silver;
                    border-bottom: 0;
                    font-size: 1em;
                }
                    ul#primary-nav ul li ul {
                        margin-left: 149px;
                        margin-top: -23px;
                    }
                    ul#primary-nav ul li.last {
                        border-bottom: 1px solid silver;
                        border-right: 1px solid silver;
                    }
                        ul#primary-nav li ul li a { padding: 3px 5px; text-align: left; width: 119px } /* Sub Menu Styles */
                        ul#primary-nav li:hover ul ul,
                        ul#primary-nav li:hover ul ul ul,
                        ul#primary-nav li.over ul ul,
                        ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */
                        ul#primary-nav li:hover ul,
                        ul#primary-nav li li:hover ul,
                        ul#primary-nav li li li:hover ul,
                        ul#primary-nav li.over ul,
                        ul#primary-nav li li.over ul,
                        ul#primary-nav li li li.over ul { display: block; } /* The magic */
                        ul#primary-nav li.menubar { background: transparent url(../../images/arrow.gif) right center no-repeat; }
                        ul#primary-nav li:hover,
                        ul#primary-nav li.over { background-color: #fff }
                        ul#primary-nav li a:hover { color: #00b980; }
/* END DROP DOWN MENUS */
