/*
 * BRS 2010-05-13
 * Styles for signup.jsp and userForm.jsp
 */

#travelTable td {
	border-bottom: 1px solid gray;
}

table.flush td {
	margin-left: 0;
	padding-left: 0;
}

legend {
	font-size: 1.5em;
}

fieldset.subfieldset legend {
	font-size: 1.25em;
}

li.highlighted {
	background-color: #c3ede0;
}
