/* A CSS Framework by Mike Stenhouse of Content with Style */

@import url(nav-horizontal.css);
 
/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        width: 971px;/*701px;*/
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: left;
    }
    div#main {
        float: left;
        width: 800px;/*530px;*/
        display: inline;
    }
    div#sub {
        float: right;
        width: 120px;
        display: inline;
    }
        div#sub ul#local {
            padding: 0;
            margin: 0;
            margin-left: 10px;
        }
    div#nav {
        position: absolute;
        top: -25px;
        left: 0px;
        width: 100%;

        text-align: left;
    }
/* END CONTENT */