<p>
     By submitting this information you are registering in the UAA
Experimental Economics Laboratory database and are therefore eligible to
receive notices of paid research experiments. The information you
provide will be stored securely on a database that will be used
exclusively by the experimental economics lab. You may remove yourself
from future experiment notifications at any time by emailing
econlab@uaa.alaska.edu.
</p>

<p>
      Before registering for any experiment you will be provided
information about the experiment describing any potential risks or
benefits of the study. If you choose participate in the experiment you
will be asked to provide electronic consent online and will be
registered to participate.  At the time of the experiment you will be
reminded of your consent and will be provided a paper copy of this
consent form upon request. Your participation in any experiment is
always voluntary and deception is never used in the UAA experimental
economics laboratory.
</p>
