/*For when the month is the same as that of the current date*/
.calendarPreviousLinkStyle
{
vertical-align: bottom;
}

.calendarTitleStyle
{
}

.calendarNextLinkStyle
{
vertical-align: bottom;
}

.calendarWeekdayStyle
{
background-color: #f4e0d8;
color: #905e9d;
}

.calendarEmptyDayStyle
{
background-color: #f4e6e0; /*#feae79;*/
vertical-align: top;
}

.calendarNoExperimentStyle
{
background-color: #e5c9be;
vertical-align: top;
}

.calendarActiveDayNoExperimentStyle
{
background-color: #d8bdb3; /*#fc6303;*/
vertical-align: top;
}

.calendarExperimentStyle
{
background-color: #fedbc3; /*#ddffee;*/
vertical-align: top;
}

.calendarActiveDayExperimentStyle
{
background-color: #ffdca7; /*#fc6303;*/
vertical-align: top;
}

.calendarDateStyle
{
text-align: right;
font-size: larger;
}

/* BRS */
.ineligible {
	color: gray !important;
	font-style: italic;
}
