/* A CSS Framework by Mike Stenhouse of Content with Style

     Simplicity with SSEL Color pallete:

             #fc6303 - darkest caltech orange (hover links, background image gradient)
             #feae79   - lightest caltech orange (background image gradient)

             #ab7455 - dark sand (titles [linked], links)
             #e5c9be   - medium sand (dividers, active tabs)
             #f4e0d8     - lightest sand (hover tabs, menu item backgrounds)

             #905e9d - lavender (titles [non-linked])

             #444    - dark gray (text)
             #ccc      - medium gray (line)
*/

/* TYPOGRAPHY */
    body {
        text-align: left;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 76%;
        line-height: 1em;
        color: #444;
    }

    div {
        font-size: 1em;
    }

    img {
        border: 0;
    }

    /* LINKS */
        a,a:link
            a:active {
            color: #ab7455;
            text-decoration: none;
        }

        a:visited {
            color: #ab7455;
            background-color: transparent;
        }

        a:hover {
            color: #fc6303;
            text-decoration: none;
        }

        a.published,a.published:link
            a.published:active {
            color: #009700;
            text-decoration: none;
        }

        a.published:visited {
            color: #009700;
            background-color: transparent;
        }

        a.published:hover {
            color: #66e166;
            text-decoration: none;
        }

        a.saved,a.saved:link
            a.saved:active {
            color: #ff0000;
            text-decoration: none;
        }

        a.saved:visited {
            color: #ff0000;
            background-color: transparent;
        }

        a.saved:hover {
            color: #ff6c67;
            text-decoration: none;
        }

	a.invisible,a.invisible:link
            a.invisible:active {
            color: #cccccc;
            text-decoration: none;
        }
        
        a.invisible:visited {
            color: #cccccc;
            background-color: transparent;
        }
        
        a.invisible:hover {
            color: #cc6c67;
            text-decoration:none;
        }
    /* END LINKS */

    /* HEADINGS */
        h1, h2, h3, h4, h5, h6 {
            font-family: tahoma, arial, helvetica, sans-serif;
            font-weight: normal;
        }

        h1 {
            font-size: 2.2em;
            letter-spacing: -1px;
            line-height: 1.3em;

            margin: 0 0 0.5em 0;
            padding: 0;
            color: #905e9d;
        }

        div#branding h1 {
            font-size: 2.6em;
            letter-spacing: -1px;

            margin: 0;
            line-height: 1.5em;
            color: #3e9ade;
        }

        div#branding p {
            margin: 0;
            line-height: 1em;
        }

        h2 {
            font-size: 1.4em;
            line-height: 1.5em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        h3 {
            font-size: 1.3em;
            line-height: 1.3em;
            margin: 0 0 0.5em 0;
            padding: 0;
            color: black;
        }

        h4 {
            font-size: 1.2em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h5 {
            font-size: 1.1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }

        h6 {
            font-size: 1em;
            line-height: 1.3em;
            margin: 0 0 0.25em 0;
            padding: 0;
            color: black;
        }
    /* END HEADINGS */

    /* TEXT */
        p {
            font-size: 1em;
            margin: 0 0 1.5em 0;
            padding: 0;
            line-height: 1.4em;
        }

        blockquote {
            border-left: 10px solid #ddd;
            margin-left: 10px;
        }

        pre {
            font-family: monospace;
            font-size: 12px;
        }

        strong,b {
            font-weight: bold;
        }

        em,i {
            font-style: italic;
        }

        code {
            font-family: "courier new", courier, monospace;
            font-size: 12px;
            white-space: pre;
        }
    /* END TEXT */

    /* LISTS */
        ul.glassList {
            list-style: url(../../images/aquadot.jpg) disc outside;
            vertical-align: top;
            line-height: 1.5em;
        }
        dl {
            margin: 0 0 1.5em 0;
            padding: 0;
            line-height: 1.4em;
        }

        dl dt {
            font-weight: bold;
            margin: 0.25em 0 0.25em 0;
            padding: 0;
        }

        dl dd {
            margin: 0 0 0 30px;
            padding: 0;
        }

    /* END LISTS */

    /* TABLE */
        table {
            font-size: 1em;
            margin: 0 0 1.5em 0;
            padding: 0;
        }

        table caption {
            font-weight: bold;
            margin: 0 0 0 0;
            padding: 0 0 1.5em 0;
        }

        th {
            font-weight: bold;
            text-align: left;
        }

        td {
            font-size: 1em;
        }

	/* BRS */
	td.sideheader {
		text-align: right;
		vertical-align: top;
		font-weight: bold;
	}

	table.spaced td {
		padding: 0.25em;
	}

        /*********************************
           Project: CSS Table Galery
           Title: Like Adwords
           Author: Cleiton Francisco
           URL: http://www.cleiton.net/
           Country: Brazil
           Update: 2005-12-18
         *******************************/

            .table {
                border-collapse: collapse;
                border: 2px solid #fc6303;
                color: #000;
                background: #fff;
                width: 100%;
            }
                .table caption {
                    padding: 0 0.6em 0.8em;
                    font-size: 1.3em;
                    font-weight: bold;
                    text-align: left;
                    color: #000;
                    background: transparent;
                }
                /* For Tapestry's contribTable */
                .table th table, .table th table td {
                    width: 100%;
                    border: 0px;
                }
                .contribTable th {
                    padding: 0px !important;
                    background: #feae79;
                }
                .contribTable th .tableHeaderTable {
                    margin: 0px !important;
                }
                .table td, .table th, .tableHeaderTable td {
                    border: 1px solid #e0e0e0;
                    padding: 0.5em;
                }
                .table thead th, .tableHeaderTable td {
                    border: 1px solid #e0e0e0;
                    text-align: left;
                    font-size: 1em;
                    font-weight: bold;
                    background: #feae79;
                }
                .tableHeaderTable td a {
                    text-decoration: none !important;
                }
                .table tfoot th, tfoot td {
                    border: 1px solid #e0e0e0;
                    text-align: left;
                    font-size: 1em;
                    background: #e8e8cf;
                }
                .table tfoot th {
                    font-weight: bold;
                }
                .table tbody td a {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody td a:hover {
                    background: transparent;
                    text-decoration: underline;
                }
                .table tbody th a {
                    background: transparent;
                    text-decoration: underline;
                    font-weight: bold;
                }
                .table tbody th, .table tbody td {
                    text-align: left;
                }
                .table tfoot td {
                    border: 1px solid #996;
                }
                .table tbody tr:hover, .table tr.over, .contribTable tr:hover {
                    background: #ffffd9 !important; /* important needed for Tapestry, as is .table tr:hover */
                }
                .contribTable tr.even {
                    background: #fff !important;
                }
                .contribTable tr.odd {
                    background: #eee !important;
                }
    /* END TABLE */

    hr {
        display: none;
    }

    div.hr {
        height: 1px;
        margin: 1.5em 10px;
        border-bottom: 1px dotted black;
    }
/* END TYPOGRAPHY */
