<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>mylib</short-name>
  <uri>/WEB-INF/mylib</uri>
  <function>
    <name>hasDigit</name>
    <function-class>edu.caltech.ssel.recruiting.common.QuestionResultHelper</function-class>
    <function-signature>boolean hasDigit( int, int)</function-signature>
  </function>
  <function>
    <name>toLVPair</name>
    <function-class>edu.caltech.ssel.recruiting.common.SurveyCreationHelper</function-class>
    <function-signature>java.util.List toLVPair(java.util.List)</function-signature>
  </function>
</taglib>
